<template>
  <figure>
    <svgLogo/>
  </figure>
</template>

<script lang="ts" setup>

import svgLogo from "../assets/logo.svg?component";

withDefaults(
  defineProps<{
    invert?: boolean;
  }>(),
  { invert: false }
);
</script>
